{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="card card-login">
        <form action="" method="post">
            {% csrf_token %}
            <h3 style="font-size: 1.2rem;">Do you confirm to exit '{{ team.name }}' Team?</h3>
            <select class="form-select" name="participants" id="id_invites" multiple hidden>
                {% for i in team.participants.all %}
                    {% if i.pk == user.pk %}
                        <option value="{{ i.pk }}">{{ i.email }}</option>
                    {% else %}
                        <option value="{{ i.pk }}" selected>{{ i.email }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
        <a href="{% url 'index' %}"><button class="btn btn-danger">Cancel</button></a>
    </div>
</div>

{% endblock %}