{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center px-4">
    <form action="" method="post" class="text-center rounded shadow p-4" style="max-width: 500px; width: 100%; margin-top: 25vh;">
        {% csrf_token %}
        <h3 style="font-size: 1.2rem;">Confirm join to '{{ team.name }}' Team?</h3>
        <div class="row mt-4">
            <div class="col">
                <button type="submit" class="btn btn-success w-100">Confirm</button>
            </div>
            <div class="col">
                <a href="{% url 'index' %}"><button class="btn btn-danger w-100" type="button">Cancel</button></a>
            </div>
        </div>
    </form>
</div>

{% endblock %}