{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card card-login">
        <form action="" method="post">
            {% csrf_token %}
            <p style="font-size: 1.2rem;">The Team {{ Team.name }} will be deleted. Are you sure?</p>
            <input type="submit" class="btn btn-success" value="Confirm deletion" name="confirm_delete" style="max-width: 200px;"/>
            <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" style="max-width: 200px;"/>
        </form>
    </div>
</div>

{% endblock %}