{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card-body" style="max-width: 800px;">
            <br><br>
            <h2 class="text-center">Team Manager</h2>
            <hr>
            <form action="" method="post">{% csrf_token %}
                <input type="text" name="owner" value="{{ user.pk }}" hidden>
                <div class="form-group mt-2">
                    <label for="name">Team name</label>
                    <input type="text" class="form-control" name="name" value="{{ team.name }}">
                </div>
                <br>
                <label for="liParticipantes">Participants</label>
                <select class="form-select" id="liParticipantes" multiple disabled>
                    {% for p in team.participants.all %}
                        <option value="{{ p.pk }}">{{ p.email }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="participants">Invites</label>
                <select class="form-select" name="participants" id="id_participants" multiple>
                    {% for p in team.participants.all %}
                        <option value="{{ p.pk }}" selected hidden>{{ p.email }}</option>
                    {% endfor %}
                    {% for i in team.invites.all %}
                        {% if i not in team.participants.all %}
                            <option value="{{ i.pk }}">{{ i.email }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <small>Select invites that you allowed joined your team!</small>
                <div class="form-group mt-2">
                    <label for="focus">Focus</label>
                    <input type="text" class="form-control" name="focus" value="{{ team.focus }}">
                </div>
                <div class="form-group mt-2">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description">{{ team.description }}</textarea>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="private" value="1"
                    {% if team.private %} selected {% endif %}
                    >
                    <label class="form-check-label" for="private">private</label>
                    <small>if private your Team, it does not showd to other users and you don't will recieve invites to join it.</small>
                </div>
                <br>
                <small>share this link to other users join in your Team<button id="btn-team-link" class="btn btn-link btn-sm">{% url 'joinTeam' user.pk %}</button></small>
                <div class="row mt-4">
                    <div class="col">
                        <button type="submit" class="text-center btn btn-success" style="width: 100%;">Edit</button>
                    </div>
                    <div class="col">
                        <a href="{% url 'deleteTeam' user.pk %}" class="text-center btn btn-danger" style="width: 100%; margin-top: 0;">Delete</a>
                    </div>
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>
<br>

{% endblock %}