{% extends 'base.html' %}

{% block content %}

<br>
<div class="container">
    <h1>Teams</h1>

    <div class="table-responsive">
        <table class="table">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Focus</th>
                    <th scope="col">Nº</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for team in object_list %}
                <tr>
                    <th scope="row">{{ team.name }}</th>
                    <td>{{ team.focus }}</td>
                    <td>{{ team.participants.count }}</td>
                    <td>{{ team.description }}</td>
                    <td>
                        <a href="{% url 'work' team.pk %}" aria-label="enter"><button class="btn btn-primary" style="min-width: 60px;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="12.5" viewBox="0 0 320 512"><path fill="#ffffff" d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
                        </button></a>
                        <a href="{% url 'teamExit' team.pk %}"><button class="btn btn-danger" style="min-width: 60px;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="20" width="12.5"><path fill="#ffffff" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                        </button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}