{% extends 'base.html' %}

{% block content %}
    <h1>Teams</h1>

    <div class="table-responsive">
        <table class="table">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Focus</th>
                    <th scope="col">Nº</th>
                    <th scope="col">Description</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for team in object_list %}
                <tr>
                    <th scope="row">{{ team.name }}</th>
                    <td>{{ team.focus }}</td>
                    <td>{{ team.participants.count }}</td>
                    <td>{{ team.description }}</td>
                    <td>
                        <a href="/teamExit/{{ team.pk }}/"><button class="btn btn-danger">Exit</button></a>
                        <a href="/work/{{ team.pk }}/"><button class="btn btn-primary">Enter</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}