{% extends 'base.html' %}

{% block content %}

<br>
<div class="container">
    <h1>Teams</h1>

    <div class="table-responsive">
        <table class="table">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Focus</th>
                    <th scope="col">Nº</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for team in object_list %}
                <tr>
                    <th scope="row">{{ team.name }}</th>
                    <td>{{ team.focus }}</td>
                    <td>{{ team.participants.count }}</td>
                    <td>{{ team.description }}</td>
                    <td>
                        <a href="{% url 'work' team.pk %}"><button class="btn btn-primary" style="min-width: 60px;">Enter</button></a>
                        <a href="{% url 'teamExit' team.pk %}"><button class="btn btn-danger" style="min-width: 60px;">Exit</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}