{% extends 'work/base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card card-login">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="team" value="{{ goal.pk }}" hidden>
            <p style="font-size: 1.2rem;">Is the goal '{{ goal.title }}' done?</p>
            <input type="checkbox" name="done" value="1" checked hidden>
            
            <div class="row">
                <div class="col-4"></div>
                <div class="col">
                    <input type="submit" class="btn btn-success" value="confirm" style="width: 200px;"/>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col">
                <button class="btn btn-danger" style="width: 200px;" onclick="history.back()">Cancel</button>
            </div>
        </div>
        
    </div>
</div>



{% endblock %}