{% extends 'work/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h1>{{ team.name }}</h1>
            </div>
            <div class="card-body">
                <form action="" method="post" autocomplete="off">{% csrf_token %}
                    <input type="number" name="team" value="{{ team.pk }}" hidden>
                    <div class="form-group">
                        <label for="title">Goal Title</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label for="deadline">Deadline</label>
                        <input type="date" class="form-control" name="deadline">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" rows="3" name="description"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-dark" style="width: 100%;">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body" style="min-height: 300px;">
                <h1>Goals</h1>
                <a href="{% url 'listDoneGoals' team.pk %}">History</a>

                <div class="row">
                {% for g in object_list %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="row">
                                    <div class="col-9">{{ g.title }}</div>
                                    <div class="col-3">
                                        <a class="btn btn-outline-dark btn-sm" href="{% url 'doneGoal' g.pk team.pk %}">&#10003;</a>
                                    </div>
                                </div>
                            </h5>
                            <small style="font-size: 0.7em;">{{ g.deadline }}</small>
                            <hr>
                            <div>{{ g.description }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const doneGoal = (goalId, teamId)=>{
        fetch(`/work/done/${goalId}/${teamId}/`)
        .then(response => location.reload())
    }
</script>
{% endblock %}