{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="card card-login">
        <h2 class="text-center">Team Manager</h2>
        <br>

        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <label for="participants">E-mail</label>
                <input type="email" class="form-control" name="participants" placeholder="name@example.com">
                <small>separate with commas</small>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Edit</button>
        </form>
        <a href="/deleteTeam/{{ user.pk }}/"><button class="btn btn-danger">Delete</button></a>
    </div>

    <style>
        #id_owner {
            pointer-events: none;
            width: 600px;
            height: 30px;
            font-size: 1.1rem;
        }
        #id_private {
            margin-left: -40%;
        }
    </style>
    
</div>

{% endblock %}